*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

body{
    font-family: "Poppins", sans-serif;
    color: #A3A3A3;
}

header{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 2px solid #e9e2e2;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 60px;  /* Đặt kích thước phù hợp cho logo */
    height: 60px;
    object-fit: cover;
}
.logo span {
    margin-left: 10px;
    font-size: 24px;  /* Đặt kích thước chữ cho logo */
    letter-spacing: 2px;
    color: #f87629;
    text-shadow: 2px 4px 5px rgba(44, 14, 81, 1); 
    cursor: pointer;
}

nav ul li {
    list-style-type: none;
    cursor: pointer;
    position: relative; /* Required for positioning the ::after element */
}

/* hover */
nav ul li:hover::after {
    content: ""; /* Required to display the pseudo-element */
    height: 3px;
    width: 80px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background-color: #f87629;
    position: absolute; /* Position it absolutely relative to the li */
    bottom: 0px; /* Adjust the position as needed */
    left: 50%; /* Center it */
    transform: translate(-50%, 300%); /* Adjust for the width of the element */
}

ul li:hover .nav-item{
    color: #f87629!important;  /* Đổi màu khi hover */
}

/* active */
nav ul li.active::after {
    content: ""; /* Required to display the pseudo-element */
    height: 3px;
    width: 80px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background-color: #f87629;
    position: absolute; /* Position it absolutely relative to the li */
    bottom: 0px; /* Adjust the position as needed */
    left: 50%; /* Center it */
    transform: translate(-50%, 300%); /* Adjust for the width of the element */
}

ul li.active .nav-item{
    color: #f87629!important;  /* Đổi màu khi hover */
}

.nav-item{
    color: #A3A3A3;
    font-size: 1.1rem;
}

.btn-account{
    background-color: #f87629;
}
.btn-account:hover{
    background-color: #f87629;
}
.btn-account.show{
    background-color: #f87629;
}
.account .dropdown .dropdown-menu{
    background-color: #ffac7a;
}
.account .dropdown .dropdown-menu li:hover a{
    background-color: #f87629;
    color: #fff;
}
.dropdown-item{
    color: #fff;
}